* {
    box-sizing:border-box
}

header, nav, main, footer{
    display: block;
}

header {
    height: 100px;
    background-image: url('image/tapparellogotrans.png');
    background-repeat:no-repeat;
    background-size:80% 250%;
    background-position: center;
    border: 2px solid #ff9393;
    background-color: #ffddc1;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    border: 2px solid #ff9393;
    
}

.one {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 0px;
    word-spacing: 10px;

}


nav a {
    text-decoration: none;
    padding-right:10px;
}

nav ul {
    list-style-type:none;
    margin: 10px;
    padding: 0;
}

nav li{
    display: inline;
}

nav a:link {
    color:#1e1a27;
}

nav a:visited {
    color:#1440d1;
}

nav a:hover {
    color:#01dbf8;
    
}

nav a:active {
    color:#df1f29;
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    padding-top: 0;
    display: block;
    background-color:#ffddc1;
    border: 2px solid #ff9393;
}


#wrapper {
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    min-width: 900px;
    max-width: 1280px;
    background-color: #ffddc1;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

p {
    padding-left: 2em;
    font-size:large;
}

body {
    background-color:#ffbf9a;
    background-image: url(image/background.webp);
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 0.9em;
}

footer {
    padding-top: 2em;
    text-align: center;
}

img{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    vertical-align: top;
}

form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display:block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5em;
}

#back {
    margin-left: 9.5em;
}



video {
    float: right;
}

p {
    font-weight: bold;
}